@mixin img-icon($left,$top,$url){
 .img-icon{
    left:$left;
    top:$top;
    position: absolute;
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    background-image: url(#{$url});
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}