@import 'base.scss';
.aaa{
  background-color: #e8e8e8;
  height: 600px;
  display: flex;
  transition: all .1s;
  box-shadow: 0 0 3px 5px rgba(222, 222, 222, .3);

  .bbb{
    width: 100px;
    height: $a;
  }
}